[submodule "ModernUO"]
	path = ModernUO
	url = https://github.com/zuluhotelaustralia/ModernUO.git
	ignore = untracked
[submodule "CueFSharp"]
	path = CueFSharp
	url = https://github.com/zuluhotelaustralia/CueFSharp.git
